{% extends 'layout.html' %}
{% block pageHeaderBlock%}
<div class="headerBlockCourses container-fluid">
    <div class="col-2">
        <h1 class="courseHeaderOne">КУРСЫ</h1>
    </div>
    <div class="col-6">
        <div id="coursestablist" class="nav submenu" role="tablist">
            <a data-bs-target="#npacall" href="#npacall" data-bs-toggle="tab" class="active-tab active">Все</a>
            <a data-bs-target="#npaсunderway" href="#npaсunderway" data-bs-toggle="tab">Идет набор</a>
            <a data-bs-target="#npacrunningnow" href="#npacrunningnow" data-bs-toggle="tab">Идет сейчас</a>
            <a data-bs-target="#npacrecorded" href="#npacrecorded" data-bs-toggle="tab">Доступен в записи</a>
            <a data-bs-target="#npaccompleted" href="#npaccompleted" data-bs-toggle="tab">Завершен</a>
        </div>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}
{% block content %}
<div class="coursecontainer tab-content container">
    <!-- Контейнер с курсами "Все" -->
    <div id="npacall" role="tabpanel" class="tab-pane fade show active">
        <div class="row">
            {% for course in all_courses %}
            <div class="col-4 courseElement">
                <div class="ElementImageB">
                    <a title="{{ course.name }}" href="{{ url_for('views.course_detail', course_id=course.id) }}">
                        <img src="{{ course.image_url }}" alt="{{ course.name }}">
                    </a>
                </div>
                <div class="statusCourse SC-runningnow">Идет сейчас</div>
                <div class="courseTitle">
                    <h2>{{ course.name }}</h2>
                </div>
                <div class="courseDescription">
                    <p>{{ course.description }}</p>
                </div>
                <div class="courseOrderBlock">
                    <div class="cob-price">12 000 р.</div>
                    <div class="cob-buyorinfo">
                        <a title="Подробнее о курсе {{ course.name }}"
                           href="{{ url_for('views.course_detail', course_id=course.id) }}" class="btn btn-course">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Контейнер с курсами "Идет набор" -->
    <div id="npaсunderway" role="tabpanel" class="tab-pane fade">
        <div class="row">
            {% for course in courses %}
            <div class="col-4 courseElement">
                <h2>{{ course.name }}</h2>
                <p>{{ course.description }}</p>
                <a href="{{ url_for('views.course_detail', course_id=course.id) }}"
                   class="btn btn-primary">Подробнее2</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Контейнер с курсами "Идет сейчас" -->
    <div id="npacrunningnow" role="tabpanel" class="tab-pane fade">
        <div class="row">
            {% for course in courses %}
            <div class="col-4 courseElement">
                <h2>{{ course.name }}</h2>
                <p>{{ course.description }}</p>
                <a href="{{ url_for('views.course_detail', course_id=course.id) }}"
                   class="btn btn-primary">Подробнее3</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Контейнер с курсами "Доступен в записи" -->
    <div id="npacrecorded" role="tabpanel" class="tab-pane fade">
        <div class="row">
            {% for course in courses %}
            <div class="col-4 courseElement">
                <h2>{{ course.name }}</h2>
                <p>{{ course.description }}</p>
                <a href="{{ url_for('views.course_detail', course_id=course.id) }}"
                   class="btn btn-primary">Подробнее4</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Контейнер с курсами "Завершен" -->
    <div id="npaccompleted" role="tabpanel" class="tab-pane fade">
        <div class="row">
            {% for course in courses %}
            <div class="col-4 courseElement">
                <h2>{{ course.name }}</h2>
                <p>{{ course.description }}</p>
                <a href="{{ url_for('views.course_detail', course_id=course.id) }}"
                   class="btn btn-primary">Подробнее5</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}