{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h2>Онлайн Трансляции</h2>
    {% if live_broadcasts %}
    <div class="row">
        {% for broadcast in live_broadcasts %}
        <div class="col-md-{{ 12 // live_broadcasts|length }}">
            <h3>{{ broadcast.course.name }}</h3>
            <div id="dplayer-{{ loop.index }}" class="video" style="width: 100%;"></div>
            <div id="status-info-{{ loop.index }}"></div>
            <div id="viewers-info-{{ loop.index }}"></div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    function createApiBackend(url, onMessage) {
                        var ws = new WebSocket(url);
                        ws.onmessage = function(event) {
                            onMessage(JSON.parse(event.data));
                        };
                        ws.onclose = function() {
                            setTimeout(function() { createApiBackend(url, onMessage); }, 5000); // Переподключение
                        };
                        return {
                            send: function(data) {
                                if (ws.readyState === WebSocket.OPEN) {
                                    ws.send(JSON.stringify(data));
                                }
                            }
                        };
                    }

                    var dp = new DPlayer({
                        container: document.getElementById('dplayer-{{ loop.index }}'),
                        live: true,
                        mutex: false,
                        autoplay: true,
                        airplay: true,
                        chromecast: true,
                        preload: 'metadata',
                        video: {
                            quality: [
                                {name: 'HD', url: 'https://live.pprfnk.tech/hls/{{ broadcast.course.short_name }}/index.m3u8', type: 'hls'},
                            ],
                            defaultQuality: 0,
                        },
                        hlsjsConfig: {
                            startLevel: 0,
                            autoStartLoad: true,
                            maxBufferLength: 5,
                            maxMaxBufferLength: 10,
                            liveSyncDurationCount: 1,
                            liveMaxLatencyDurationCount: 2,
                            capLevelToPlayerSize: true
                        },
                        apiBackend: createApiBackend('wss://academy.pprfnk.tech/ws', function(data) {
                            if (data.type === 'status')
                            {
                                var statusText = data.live ? 'Трансляция активна' : 'Трансляция не активна';
                                document.getElementById('status-info-{{ loop.index }}').textContent = statusText;
                                var viewersText = 'Зрителей: ' + data.viewers;
                                document.getElementById('viewers-info-{{ loop.index }}').textContent = viewersText;
                            }
                        })
                    });
                });
            </script>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>В данный момент нет активных трансляций.</p>
    {% endif %}
</div>
{% endblock %}