{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h2>Онлайн Трансляции</h2>
    {% if live_broadcasts %}
    <div class="row">
        {% for broadcast in live_broadcasts %}
        <div class="col-md-{{ 12 // live_broadcasts|length }}">
            <h3>{{ broadcast.course.name }}</h3>
            <video id="player-{{ loop.index }}" class="cld-video-player" controls></video>
            <div id="status-info-{{ loop.index }}">Трансляция активна</div>
            <div id="viewers-info-{{ loop.index }}">Зрителей: {{ live_broadcasts|length }}</div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                var player = cloudinary.videoPlayer('player-{{ loop.index }}', {
                    cloudName: 'di2pcyu5n',
                    autoplay: true,
                    autoplayMode: 'on-scroll',
                    fluid: true,
                    controls: true,
                    aiHighlightsGraph: true,
                    floatingWhenNotVisible: 'right',
                    hideContextMenu: false,
                    showJumpControls: true,
                    pictureInPictureToggle: true,
                    showLogo: true,
                    logoImageUrl: 'https://pprfnk.tech/favicon/favicon-32x32.jpg',
                    logoOnclickUrl: 'https://pprfnk.tech/'
                });
                player.source('https://live.pprfnk.tech/hls/{{ broadcast.course.short_name }}/index.m3u8', {
                    sourceTypes: ['hls']
                });

                // Добавление индикатора "Live" с красной точкой
                player.on('play', function() {
                    player.overlay({
                        content: '<div style="color: red; font-weight: bold;">live ●</div>',
                        start: 0,
                        end: 'end',
                        align: 'top-left'
                    });
                });
                });
            </script>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>В данный момент нет активных трансляций.</p>
    {% endif %}
</div>
{% endblock %}