
:root {
    --main-bg: #000;
    --button-bg-color: #000;
    --button-border-color: #ffffff;
    --logo-right-border: #343434;
    --anchor-menu-color: #CACACA;
    --header-infoblock-bg: #181818;
    --prod-elem-border-color: #575757;
    --sum-color-grey: #666666;
    --sum-color-white: #ffffff;
    --buy-button-color: #15a060;
    --lacks-color: #595959;
    --footer-bg: #131313;
    --white-color: #ffffff;
    --active-menu-color: #ae7a14;
    --ff-roboto: 'Roboto';
    --ff-europeext: 'EuropeExt';
}
a:hover {
    color: inherit;
}
* {
    font-family: 'Roboto';
    font-style: normal;
    margin: 0;
    padding: 0;
    color: var(--anchor-menu-color);
}

a {
    text-decoration: none;
    color: var(--anchor-menu-color);
}

a:hover:not(.active) {
    text-decoration: none;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--main-bg);
}

.balance-ico-mobile {
    display: none;
    margin-left: 10px;
    position: relative;
    top: -2px;
}

.mobilemenuburger a.active, .mainnavbar a.active {
    background: #332407;
    border-bottom: 2px solid #FFB524;
    height: 76px;
}

header {
    position: relative;
    width: 100%;
    height: 76px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo {
    width: 156px;
    height: 44px;
    padding: 17px 20px;
}

.logo a {
    width: 317px;
    height: 48px;
    display: block;
    margin: 0 auto;
}

.mainnavbar {
    padding-left: 36px;
}

.mainnavbar, .mobmenuburgermainnavbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mainnavbar a:hover:not(.active) {
    background-color: #191919;
    border-bottom: 1px solid #686868;
    height: 76px;
}

.mainnavbar a, .mobmenuburgermainnavbar a {
    font-size: 16px;
    display: flex;
    align-items: center;
    width: auto;
    height: 76px;
    padding: 0px 23px;
}
.mobmenuburgermainnavbar a {
    padding: 30px 40px;
    height: 82px;

}
.profile {
    min-width: 205px;
    display: flex;
    padding-right: 60px;
}

.profile a:hover {
    text-decoration: none;
}

.profile a.active {
    background: #332407;
    border-bottom: 2px solid #FFB524;
    height: 75px;
}

.profile a:hover:not(.active) {
    background-color: #191919;
}

.profile a {
    font-size: 18px;
    display: flex;
    align-items: center;
    width: auto;
    height: 76px;
    padding: 0px 20px;
}

.b-profile-ico {
    padding-top: 0px;
    padding-left: 13px;
}

.pageHeaderBlock {
    border-top: 1px solid #686868;
    min-height: 75px;
    width: auto;
    padding: 25px 25px;
    background-color: var(--header-infoblock-bg);
    margin-bottom: 20px;
}

.pageHeaderBlock .b-balance .balance-ico {
    padding-left: 10px;
}

.pageHeaderBlock .b-balance, .pageHeaderBlock .b-infofacts {
    display: flex;
    width: 63%;
    margin: 0 auto;
    max-width: 1248px;
}

.pageHeaderBlock .b-balance {
    text-transform: uppercase;
    font-family: 'EuropeExt';
    font-size: 30px;
    font-weight: 700;
    line-height: 33.48px;
    text-align: left;
    max-width: 1248px;
    width: 100%;
}

.pageHeaderBlock .b-infofacts {
    padding-top: 5px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;

}

.content-block {
    padding-top: calc(279px - calc(77px + 182px));
    display: flex;
}

.content-block .prod-elem:hover {
    border: 1px solid #D9D9D9;
}

.pe-previewImage img {
    height: 330px;
}

.content-block .prod-elem {
    transition: .5s;
    width: 387px;
    height: auto;
    margin-right: 20px;
    border: 1px solid var(--prod-elem-border-color);
}

.content-block .prod-elem:last-child {
    margin-right: 0;
}

.b-articles {
    padding: 45px 45px;
    width: 66%;
    margin: 0 auto;
    max-width: 1249px;
}

.b-articles .ba-header {
    font-family: "EuropeExt";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid var(--prod-elem-border-color);
    padding-bottom: 18px;
    margin-bottom: 0;
}

.b-articles .ba-viewtext {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.b-articles .ba-viewtext p {
    padding-top: 20px;
}

.pe-previewImage img {
    z-index: 99;
}

.pe-previewImage {
    width: 385px;
    height: 330px;
}

.pe-list {
    margin: 0 auto;
    display: flex;
}

.buyb-right.grey {
    color: var(--sum-color-grey)
}

.buyb-right.white {
    color: var(--sum-color-white)
}

.buyb-right.summ {
    font-family: 'EuropeExt';
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    text-align: right;
    height: 32px;
    padding-top: 8px;
    padding-right: 14px;
}


.buy-block {
    padding: 20px 18px;
}

.buyb-top {
    display: flex;
    padding-bottom: 10px;
}

.buybtn .btn {
    width: 135px;
    height: auto;
    display: block;
    padding: 14px 15px;
    text-align: center;
    vertical-align: middle;
}

.buybtn .btn:hover {
    text-decoration: none;
}

.buyb-left.title {
    font-family: EuropeExt;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    width: auto;
    text-transform: uppercase;
    padding-right: 20px;
}

.btn.download-button svg {
    position: relative;
    top: 4px;
    left: -1px;
}

.btn.download-button .hover {
    display: none;
}

.btn.download-button {
    background-color: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
    cursor: pointer;
    font-size: 16px;
}

.btn.download-button:hover {
    background-color: #FFF;
}

.btn.download-button:hover span svg {
    color: #000;
}

.btn.download-button:hover span {
    color: #000;
}

.btn.download-button:hover span.nohover {
    display: none;
}

.btn.download-button:hover span.hover {
    display: inline-flex;
}

.btn.buy-button {
    background-color: var(--buy-button-color);
    cursor: pointer;
    border: none;
    color: var(--white-color);
    text-align: center;
    vertical-align: center;
}

.btn.buy-button:hover {
    background-color: #00C86C;
}
.b-balance .bb-match {
    color:#fff;
    padding-left: 5px;
    font-family: 'EuropeExt';
    font-size: 30px;
    font-weight: 700;
    line-height: 27.63px;
    text-align: left;
}

.lacks-coin-message {
    width: 219px;
    height: 28px;
    margin: 0;
    padding-top: 0px;
    color: var(--lacks-color);
    font-size: 22px;
    font-family: "Roboto";
}

.show-forvard-bookmark {
    position: relative;
    margin-left: 25px;
    top: 0;
    height: 0;
}

.pe-previewImage .annotation {
    position: relative;
    bottom: 9.25rem;
    background: linear-gradient(180deg, rgb(0 0 0 / 6%) 0%, rgb(0 0 0 / 92%) 35%, rgb(0 0 0) 100%);
    height: auto;
    padding: 17px 14px;
    left: 0px;
    width: 100%;
    transition: .7s;
    opacity: 0;
}

footer {
    height: 117px;
    background-color: var(--footer-bg);
}

footer .copyright {
    padding-left: 120px;
    padding-top: 45px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    text-align: left;
}

.prod-elem:hover .annotation {
    opacity: 1;
}

.mobilemenuburger {
    display: none;
}

.mobmenuburgermainnavbar {
    display: none;
}

.buyb-bottom {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
}

.buybtn {

}

.mobmenuburgermainnavbar {
    z-index: 99;
}

.buyb-bottom .buyb-right span:nth-child(1) {
    padding-right: 5px;
    top: 7px;
    position: relative;
}

.buyb-bottom .buyb-right span:nth-child(2) {
    position: relative;
    top: 5px;
}

.warninig-message {
    position: absolute;
    padding: 5px 3px;
    display: none;
    margin-top: -6px;
    margin-left: 50px;
}

.download-button span {
    position: relative;
    top: -3px;
}

.mainWrapper {
    width: 65.5%;
    margin: 0 auto;
    min-height: calc(100vh - calc(calc(calc(75px + 83px) + 110px) + 110px));
}

.nt-coine {
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 23.5px;
    height: 23px;
    position: relative;
    top: 12px;
    color: #999;
}

.btn span:nth-child(3) {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: center;
    top: -2px;
}
.buy-bottom-mobile {
    display: none;
}
.mobile-info-button {
    display: none;
    position: relative;
    left: 86%;
    top: -50px;
    width: 29px;
    height: 29px;
}
button#mobprofileitem {
    display: none;
}
.mmbmn-header {
    height: 70px;
    display: flex;
}
.mmnmnh-logo svg {
    display: none;
}
.mmnmnh-logo {
    flex-basis: 100%;
    padding-left: 20px;
    padding-top: 15px;
    opacity: 0;
}
.mmnmnh-close {
    flex-basis: 20px;
    padding: 20px;
    width: 20px;
}
.mmnmnh-close svg {
    top: 5px;
    position: relative;
}
.mobmenuburgermainnavbar a.active {
    background-color: #45371a;
    border-right: 1px solid #ffb524;
}
.mobmenuburgermainnavbar div:nth-child(2){
    background-color: #181818;
    height: 100vh;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}
#faderout {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#faderout .popup {
    width: 577px;
    height: 440px;
    top: 199px;
    margin: 0 auto;
    position: relative;
    background: #181818;
    padding: 30px 40px;
}
#faderout .popup .titlePopupBlock {
    font-family: 'EuropeExt';
    font-size: 30px;
    font-weight: 700;
    line-height: 33.48px;
    text-align: left;
}
.popupHeaderBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 40px;
    position: relative;
}
.popup .popupHeaderBlock .closePopupButton {
    position: absolute;
    right: 0;
}
#modButton {
    position: fixed;
    top: 25%;
    right: 0;
    list-style: none;
    background: #000;
    box-shadow: 0px 0px 2px 1px #CCC;
    z-index: 999;
}
#adminButton {
    position: fixed;
    top: 15%;
    right: 0;
    list-style: none;
    background: #000;
    box-shadow: 0px 0px 2px 1px #CCC;
    z-index: 999;
}
.carousel {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}
#formLoginPage {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
}
.login .links > a:hover {

}
.pageHeaderBlock h1 {
    width: 84%;
    margin: 0 auto;
}
.btn.techbutton {
    background-color: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
    font-size: 16px;
    width: 135px;
    height: auto;
    padding: 14px 15px;
    color: #FFF;
}
.btn.techbutton:hover {
    background-color: #FFF;
    color: #000;
}
#formLoginPage .frmgroup {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 10px;
    position: relative;
}
#formLoginPage .frmgroup:first-child {
    padding-top:0;
}
#formLoginPage .frmgroup label {
    padding-top: 5px;
    padding-right: 10px;
}
.labelLoginUsername, .labelPassword {
font-family: var(--ff-roboto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    position: absolute;
    top: -19px;
    width: max-content;
    background: #181818;
    height: 24px;
    left: 9px;
    padding: 0 10px;
}
.frmg-loginpage {
    width: 497px;
    height: 74px;
    border: 2px solid #ffffff5e;
    margin-bottom: 20px;

}
.frmg-loginpage .frmg-loginpage-inputtext {
    width: 493px;
    height: 50px;
    border-radius: 0;
    position: absolute;
    top: 20px;
}
#loginButton {
    background-color: #15A060;
    font-size: 16px;
    width: 497px;
    height: 50px;
    padding: 14px 15px;
    color: #FFF;
}
.lb-forgotpassword {
    padding: 0 0 15px 0;
    width: 100%;
}
.lb-createaccount {
    width: 100%;
    text-align: center;
    padding-top: 22px;
    height: 44px;
}
.courseHeaderOne {
    font-family: var(--ff-europeext);
    font-size: 30px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color: #FFF;
    width: max-content !important;
    margin: 0 0 !important;
}
.headerBlockCourses {
    display: flex;
    width: 68%;
    margin: 0 auto;
}
.submenu {
    padding-left: 30px;
    padding-top: 2px;
}
.submenu a {
    padding: 0 10px;
    transition: 0.2s;
}
.submenu a:hover {
    color: #FFB524;
}
.submenu a.active-tab {
    color: #FFB524;
}
.courseElement {
    width: 387px;
    height: 690px;
    padding: 20px 18px;
    border: 1px solid rgba(217, 217, 217, 0.7);
    margin-right: 20px;
    margin-bottom: 20px;
}
.courseElement:nth-child(3n) {
    margin-right: 0;
}
.courseElement .ElementImageB {
    width: 385px;
    height: 385px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.courseElement .ElementImageB img {
    max-width: 385px;
    max-height: 385px;
    width: 100%;
    height: auto;
}
.courseElement .courseTitle {
    padding: 0 18px;
    font-family: var(--ff-europeext);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
    max-width: 347px;
    width: 100%;
}
.courseElement .courseDescription {
    padding: 0 18px;
    font-family: var(--ff-roboto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    max-width: 347px;
    width: 100%;
    color: #b2b2b2;
}
.statusCourse {
    height: 24px;
    font-family: var(--ff-roboto);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding: 0 15px;
    border-radius: 10px;
    width: max-content;
}
.statusCourse.SC-runningnow {
    background: #639630;
}
.courseOrderBlock {
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}