.students-page {
    max-width: 100%; /* Убедитесь, что страница использует всю доступную ширину */
    padding: 20px;
}

.students-page .students-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 карточки на строку */
    grid-template-rows: auto auto; /* Две строки, высота автоматическая */
    gap: 20px;
}

.students-page .student-card {
    background-color: var(--header-infoblock-bg);
    border: 1px solid var(--prod-elem-border-color);
    padding: 15px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.students-page .student-card a {
    color: var(--white-color);
    text-decoration: none;
}

.students-page .student-avatar {
    width: 80%; /* Уменьшите ширину, если карточки слишком большие */
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}