.student-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.students-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.student-card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 15px;
    border-radius: 8px;
    position: relative; /* Добавлено для позиционирования всплывающей карточки */
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer; /* Опционально, для указания на интерактивность */
}

.student-card:hover {
    transform: translateY(-5px);
    border-color: #646cff;
}

.student-hover-info {
    visibility: hidden;
    opacity: 0;
    position: absolute; /* Изменено на absolute */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10; /* Убедитесь, что z-index достаточно высок, чтобы быть поверх других элементов */
}

.student-card:hover .student-hover-info {
    visibility: visible;
    opacity: 1;
}