.students-page .students-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 карточек на строку */
    gap: 20px;
    padding: 20px;
}

.students-page .student-card {
    background-color: var(--header-infoblock-bg);
    border: 1px solid var(--prod-elem-border-color);
    padding: 15px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.students-page .student-card a {
    color: var(--white-color);
    text-decoration: none;
}

.students-page .student-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}