.login, .register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1, .register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login .links, .register .links {
    display: flex;
    padding: 0 15px;
}
.login .links a, .register .links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
    color: #9da3ac;
}
.login .links a.active, .register .links a.active {
    border-bottom: 3px solid #3274d6;
    color: #3274d6;
}
.login form, .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label, .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

body {
    background-color: #121212; /* Темный фон для всей страницы */
    color: #ffffff; /* Белый текст для контраста */
    font-family: 'Arial', sans-serif; /* Современный шрифт */
}

.navbar {
    background-color: #333333; /* Темный фон для навигационной панели */
}

.nav-link {
    color: #ffffff; /* Белый цвет ссылок */
}

.nav-link:hover {
    color: #bbbbbb; /* Светло-серый цвет при наведении */
}

.container {
    padding-top: 20px;
}

h2, h3 {
    border-bottom: 1px solid #444444; /* Подчеркивание заголовков */
    padding-bottom: 10px;
}

.video {
    width: 100%; /* Ширина видео */
    height: auto; /* Автоматическая высота видео */
    background-color: #000000; /* Фон видеоплеера */
}

a {
    color: #4da6ff; /* Цвет ссылок */
    text-decoration: none; /* Убрать подчеркивание */
}

a:hover {
    color: #ffffff; /* Цвет ссылок при наведении */
}

.footer {
    background-color: #333333; /* Темный фон для подвала */
    color: #ffffff; /* Белый текст в подвале */
    padding: 10px 0; /* Паддинг для подвала */
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}