{% extends 'layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>О нас</h2>
            <p>Neuropunk академия - это курсы обучения саунд-дизайну, звукорежиссуре и школа диджеев электронной музыки в Санкт-Петербурге на базе одного из самых технологически сложных поджанров neurofunk.</p>
            <p>Академия может стать как нулевой точкой обучения, так и послужить повышением классификации и навыков.</p>
            <p>У нас можно научиться диджеингу в любых стилях, арендовать DJ студию для тренинга, записи видео и аудио, проведения собственных передач и стримов на свой канал или в сеть каналов Neuropunk Records.</p>
            <p>Курсы по продакшену ведут опытные и известные во всех точках планеты продюсеры, за плечами которых сотни релизов на авторитетных лейблах, награды на ключевых awards индустрии и постоянные места в чартах радиостанций и стримингов.</p>
            <p>Вы получите доступ к классическому клубному сетапу аппаратуры, научитесь обращаться с популярными типами диджейского и продюсерского софта.</p>
            <p>Занятия проходят индивидуально и в удобное для Вас время.</p>
            <h3>Преподавательский состав:</h3>
            <ul>
                <li>Paperclip - Преподаватель</li>
                <li>Receptor - Преподаватель</li>
                <li>Nerv3 - Преподаватель</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}