{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h2>{{ course.name }}</h2>
    <p>{{ course.description }}</p>
    <h3>Записи Трансляций</h3>
    {% for broadcast in broadcasts %}
    <div class="mb-4" id="dplayer-{{ loop.index }}"></div>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var dp{{ loop.index }} = new DPlayer({
            container: document.getElementById('dplayer-{{ loop.index }}'),
            video: {
                url: 'https://live.pprfnk.tech/vod/{{ broadcast.video_path }}?token={{ token | urlencode }}',
                type: 'video/mp4'
            },
            preload: 'auto',
            autoplay: false
        });
    });
    </script>
    {% endfor %}
</div>
{% endblock %}