{% extends 'layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for course in courses %}
            <div class="carousel-item {{ 'active' if loop.first }}">
                <img src="{{ course.image_url }}" class="d-block w-100" alt="{{ course.name }}">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Вперед</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Назад</span>
        </button>
    </div>
</div>
<div class="container px-5 my-5">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
            <h2 class="h4 fw-bolder">Как это работает</h2>
            <p>Узнайте, как начать пользоваться нашим сервисами.</p>
            <a class="text-decoration-none" href="{{ url_for('howto') }}">
              <button type="button" class="btn btn-outline-primary">Подробнее</button>
            </a>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
            <h2 class="h4 fw-bolder">Трансляции</h2>
            <p>Смотрите трансляции и записи текущих и прошедших курсов.</p>
            <a class="text-decoration-none" href="{{ url_for('stream') }}">
              <button type="button" class="btn btn-outline-primary">Смотреть</button>
            </a>
        </div>
        <div class="col-lg-4">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
            <h2 class="h4 fw-bolder">О нас</h2>
            <p>Подробная информация о нас и наших целях.</p>
            <a class="text-decoration-none" href="{{ url_for('about') }}">
              <button type="button" class="btn btn-outline-primary">Узнать больше</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}