{% extends 'layout.html' %}

{% block title %}Войти{% endblock %}

{% block PopupTitle %}
ВОЙТИ В АККАУНТ
{% endblock %}

{% block PopupContent %}
<div class="login">
    <form id="formLoginPage" action="{{ url_for('views.login') }}" method="post">
        <div class="frmgroup frmg-loginpage">
            <label class="labelLoginUsername" for="username">Логин *</label>
            <input class="form-control frmg-loginpage-inputtext" type="text" name="username" placeholder="Логин" id="username" required>
        </div>
        <div class="frmgroup frmg-loginpage">
            <label class="labelPassword" for="password">Пароль *</label>
            <input class="form-control frmg-loginpage-inputtext" type="password" name="password" placeholder="Пароль" id="password" required>
        </div>
        <div class="msg">{{ msg }}</div>
        <div class="lb-forgotpassword"><a href="#forgotpassword">Забыли свой пароль?</a></div>
        <div class="blockbuttons links">
            <button id="loginButton" type="submit" class="btn mt-2 mx-1">Вход</button>
        </div>
        <div class="lb-createaccount">У вас нет аккаунта? <a href="{{ url_for('views.register') }}">Создать</a></div>
    </form>
</div>
{% endblock %}
{% block ExtScriptBlock %}
<script>window.$(document).ready(() => {setTimeout(() => {$('#faderout').show()}, 420)})</script>
{% endblock %}