{% extends 'layout.html' %}

{% block title %}Войти{% endblock %}

{% block pageHeaderBlock %}
<h1>Авторизация</h1>
{% endblock %}

{% block content %}
<div class="login">
    <!--<div class="links">
        <a class="btn active btn-outline-primary" data-bs-toggle="button" aria-pressed="true" role="button" href="{{ url_for('views.login') }}" class="active">Войти</a>

    </div>-->
    <form id="formLoginPage" action="{{ url_for('views.login') }}" method="post">
        <div><label for="username">
            <i class="fas fa-user"></i>
        </label>
            <input class="form-control" type="text" name="username" placeholder="Логин" id="username" required>
        </div>
        <div>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input class="form-control" type="password" name="password" placeholder="Пароль" id="password" required>
        </div>
        <div class="msg">{{ msg }}</div>
        <div class="blockbuttons links">
			<button type="submit" class="btn techbutton mt-2">Вход</button>
            <a class="btn techbutton" role="button" href="{{ url_for('views.register') }}">Регистрация</a>
        </div>
    </form>
</div>
{% endblock %}