{% extends 'layout.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Профиль</h2>
        <div class="col">
            <p>Данные аккаунта:</p>
            <table>
                <tr>
                    <td>Логин:</td>
                    <td>{{ account['username'] }}</td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td>{{ account['password'] }}</td>
                </tr>
                <tr>
                    <td>Почта:</td>
                    <td>{{ account['email'] }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
