{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_styles.css') }}">
{% endblock %}

{% block content %}
<div class="profile-page">
    <h1 class="page-title">Профиль</h1>
    <div class="profile-section">
        <div class="detail-item">Логин: {{ account.username }}</div>
        <div class="detail-item">Почта: {{ account.email }}</div>
    </div>
    <div class="profile-section">
        <h3>Доступные Курсы</h3>
        {% for course in courses %}
        <div>
            <a class="course-link" href="{{ url_for('views.course_detail', course_id=course.id) }}">{{ course.name }}</a>
        </div>
        {% endfor %}
    </div>
    <div class="profile-section">
        <h3>Сделанные домашние задания</h3>
        {% for submission in submissions %}
        <div>
            <div class="detail-item">Курс: {{ submission.name }}</div>
            <div class="detail-item">Оценка: <span class="star-rating">{% for i in range(submission.grade) %}★{% endfor %}</span></div>
            <div class="detail-item">Комментарий: {{ submission.comments }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}