{% extends 'layout.html' %}

{% block title %}index{% endblock %}

{% block content %}
<div class="container overflow-hidden">
    <div class="row">
        <h2>Трансляции</h2>
    </div>
    <div class="row gy-5">
        <div class="col-md-8">
            <video id="video" width=100% height= auto controls></video>
            <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
            <script>
                var video = document.getElementById("video");
                var videoSrc = "http://rtmp-service.stream.svc.pprfnk.local/hls/index.m3u8";
                if (Hls.isSupported()) {
                  var hls = new Hls();
                  hls.loadSource(videoSrc);
                  hls.attachMedia(video);
                }
                else if (video.canPlayType("application/vnd.apple.mpegurl")) {
                  video.src = videoSrc;
                }
              </script>
        </div>
    </div>
</div>
{% endblock %}