{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h2>Онлайн Трансляции</h2>
    <div class="row">
        {% for broadcast in live_broadcasts %}
        <div class="col-md-{{ 12 // live_broadcasts|length }}">
            <h3>{{ broadcast.course.name }}</h3>
            <video id="video_{{ loop.index }}" class="video" controls style="width: 100%;"></video>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var video = document.getElementById('video_{{ loop.index }}');
                    var videoSrc = 'https://live.pprfnk.tech/hls/{{ broadcast.course.short_name }}/index.m3u8';
                    if (Hls.isSupported()) {
                        var hls = new Hls();
                        hls.loadSource(videoSrc);
                        hls.attachMedia(video);
                        hls.on(Hls.Events.MANIFEST_PARSED, function() {
                            video.play();
                        });
                    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                        video.src = videoSrc;
                        video.addEventListener('loadedmetadata', function() {
                            video.play();
                        });
                    }
                });
            </script>
        </div>
        {% endfor %}
    </div>

    <h2>Доступные Курсы</h2>
    <div class="row">
        {% for course in courses %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"><a href="{{ url_for('course_page', short_name=course.short_name) }}">{{ course.name }}</a></h3>
                    <p class="card-text">{{ course.description }}</p>
                    <a href="{{ url_for('course_page', short_name=course.short_name) }}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}