{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/students.css') }}">
{% endblock %}

{% block content %}
<div class="students-page">
    <h1 class="page-title">Наши студенты</h1>
    <div class="students-grid">
        {% for data in user_data %}
        <div class="student-card">
            <a href="{{ url_for('views.public_profile', user_id=data.user.id) }}" class="student-link">
                <div class="student-name">{{ data.user.username }}</div>
                <div class="student-info">
                    Пройденные курсы: {{ data.user.courses|length }}
                    <br>
                    Средний балл: {{ data.average_grade|round(2) }}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
