{% extends 'layout.html' %}

{% block content %}
<div class="profile-page">
    <h1 class="page-title">Редактирование профиля</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="profile-section">
            {{ form.avatar.label }}<br>
            {{ form.avatar }}<br>
            <img src="{{ account.avatar_url or url_for('static', filename='images/default_avatar.png') }}" alt="avatar" width="150" height="150"><br>

            {{ form.city.label }}<br>
            {{ form.city(size=32) }}<br>

            {{ form.headphones.label }}<br>
            {{ form.headphones(size=32) }}<br>

            {{ form.sound_card.label }}<br>
            {{ form.sound_card(size=32) }}<br>

            {{ form.pc_setup.label }}<br>
            {{ form.pc_setup(size=32) }}<br>

            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}