{% extends 'mod/master.html' %}
{% block body %}
<h1>Управление демо</h1>

<form action="{{ url_for('demo_mgmt.index') }}" method="post">
    <select name="course_id">
        {% for course in courses %}
        <option value="{{ course.id }}" {% if selected_course and selected_course.id == course.id %}selected{% endif %}>
            {{ course.name }}
        </option>
        {% endfor %}
    </select>
    <button type="submit">Выбрать курс</button>
</form>

{% if selected_course %}
    <h2>Настройки приема демок для курса: {{ selected_course.name }}</h2>
    <form action="{{ url_for('demo_mgmt.toggle_demo', course_id=selected_course.id) }}" method="post">
        <input type="hidden" name="course_id" value="{{ selected_course.id }}">
        <input type="text" name="title" placeholder="Название приема демок" value="{{ selected_course.demo_setting.title if selected_course.demo_setting else '' }}">
        <input type="hidden" name="is_active" value="true">
        <button type="submit">{{ 'Выключить' if selected_course.demo_setting and selected_course.demo_setting.is_active else 'Включить' }}</button>
    </form>

    <h2>Демо-записи для курса: {{ selected_course.name }}</h2>
    <table>
        <thead>
            <tr>
                <th>Курс</th>
                <th>приема демок #/name</th>
                <th>Ник приславшего</th>
                <th>Название демки</th>
                <th>Оценка</th>
                <th>Скачать</th>
                </tr>
        </thead>
        <tbody>
            {% for demo in demo_submissions %}
            <tr>
                <td>{{ demo.course.name }}</td>
                <td>{{ demo.course.demo_setting.title }}</td>
                <td>{{ demo.student.username }}</td>
                <td>{{ demo.demo_name }}</td>
                <td>
                    <form action="{{ url_for('demo_mgmt.grade_demo') }}" method="post">
                        <input type="hidden" name="demo_id" value="{{ demo.id }}">
                        <input type="number" name="grade" min="1" max="5" value="{{ demo.grade }}">
                        <button type="submit">Оценить</button>
                    </form>
                </td>
                <td><a href="{{ url_for('static', filename='uploads/' ~ demo.file_path) }}" download="{{ demo.demo_name }}">Скачать</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}