{% extends 'admin/master.html' %}

{% block body %}
<h1>Панель управления модератора</h1>
<h2>Текущий баланс: {{ balance }}</h2>
<form action="{{ url_for('moderatorview.update_balance') }}" method="post">
    <input type="text" name="amount" placeholder="Изменить баланс на" step="0.001">
    <button type="submit">Обновить баланс</button>
</form>

<h2>Список товаров</h2>
<table>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Действия</th>
    </tr>
{% for product in products %}
<tr>
    <td>{{ product.item_name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.price }}</td>
    <td>
        {% if not product.is_purchased %}
        <a href="{{ url_for('moderatorview.buy_product', product_id=product.id) }}">Купить</a>
        {% else %}
        <a href="{{ url_for('moderatorview.download_product', product_id=product.id) }}">Скачать</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}