{% extends 'layout.html' %}

{% block title %}about us{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>About us</h2>
            <p>
                <br>In this day and age, we have access to multiple video streaming platforms hosted by massive corporations. This ensures quality and convenience, but at what cost? There has been multiple reports of privacy violations where this company uses your data and sells it to advertisers. This is an invasion of privacy and an immoral practice which they do not disclose to the users.
                <br><br>Here at StreamBox, we aim to solve all of these issues and completely decentralize livestreaming and give the user full control. The only data we plan on collecting from you guys is your name and e-mail which will allow you to create and join livestreams. We do not plan on implementing malicious ads which are targeted at you.
                <br><br>This will take a toll on our company but we prioritise integrity over profit. However, in order to keep this platform running, we will kindly ask you to pay for our subscription in order to have access to the services we provide. If you want to show additional support to our cause, donations are always welcome!
            </p>
        </div>
    </div>
</div>
{% endblock %}