{% extends 'admin/master.html' %}
{% block body %}
<h2>Проверка Домашек</h2>

{% for course_name, submissions in courses_dict.items() %}
<h3>{{ course_name }}</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Студент</th>
            <th>Домашнее задание</th>
            <th>Аудио</th>
            <th>Оценка</th>
            <th>Комментарии</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
        <tr>
            <td>{{ submission.student.username }}</td>
            <td>{{ submission.homework.title }}</td>
            <td>
                {% if submission.file_path %}
                <audio controls>
                    <source src="{{ url_for('static', filename=submission.file_path) }}" type="audio/mpeg">
                    Ваш браузер не поддерживает аудио элемент.
                </audio>
                {% else %}
                Нет файла
                {% endif %}
            </td>
            <td>{{ submission.grade }}</td>
            <td>{{ submission.comments }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

{% endblock %}